<!-- index.html -->

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Поиск экскурсий</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <h1>Поиск экскурсий</h1>
        <nav>
            <div class="burger" id="burger-menu">
                &#9776;
            </div>
            <ul class="menu" id="nav-menu">
                <li><a href="#start">Начало</a></li>
                <li><a href="#search-main">Поиск</a></li>
                <li><a href="#maps">Карта</a></li>
                <li><a href="/favorite/" id="favorite-link">Избранное</a></li>
                {% if user.is_authenticated %}
                <script>
                // Передаем значение аутентификации в JavaScript
                    var isAuthenticated = true;
                </script>
                    <li><a class="user-button" id="username" data-logout-url="{% url 'logout' %}" onmouseover="toggleLogout(true)" onmouseout="toggleLogout(false)" style="color: white;" data-username="{{ user.username }}">{{ user.username }}</a></li>
                <!-- Дополнительный контент для зарегистрированных пользователей -->
                {% else %}
                    <li><a href="{% url 'login' %}" class="login-button">Login</a></li>
                <script>
                // Передаем значение аутентификации в JavaScript
                    var isAuthenticated = false;
                </script>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
    <main>
        <div id="login-message" style="display: none; text-align: center; font-size: 10px;">
            <h1>{{ message }}</h1>
        </div>
        <section id="start">
            <div id="start-hello" class="welcome-text"><h2>Экскурсии по всему миру</h2></div>
            <div class="welcome-text"><h3>Поиск и бронирование экскурсий с экспертной поддержкой</h3></div>
            <a id="start-button" href="#search-main">Начать</a>
            <div id="description">
                <div class="description-block">
                    <h3>Разнообразие направлений</h3>
                    <p>Мы собрали для вас лучшие экскурсии по всему миру – от загадочных улиц Стамбула до величественных пейзажей Новой Зеландии. Независимо от того, что вас интересует – история, культура, природа или развлечения – у нас найдется идеальная программа для вас.</p>
                </div>
                <div class="description-block">
                    <h3>Качественные услуги</h3>
                    <p>Мы работаем только с проверенными гидами и туроператорами, чтобы ваше путешествие прошло комфортно и безопасно. Наши экскурсии отличаются профессионализмом, интересным контентом и индивидуальным подходом к каждому клиенту.</p>
                </div>
                <div class="description-block">
                    <h3>Гибкий выбор</h3>
                    <p>У нас вы можете выбрать как готовые туры с уже составленным маршрутом, так и заказать индивидуальную экскурсию, полностью соответствующую вашим пожеланиям и интересам. Мы готовы предложить вам самые выгодные варианты, чтобы ваше путешествие было идеальным.</p>
                </div>
                <div class="description-block">
                    <h3>Удобство бронирования</h3>
                    <p>Наш сайт предоставляет простой и интуитивно понятный интерфейс для бронирования экскурсий. Просто выберите страну и город, дату и время, и мы позаботимся обо всем остальном.</p>
                </div>
            </div>
        </section>
        <h2 id="search-main" class="hh" >Поиск экскурсий </h2>
        <section id="search">
            <div class="search-container">
                <form id="search-form">
                    <div class="form-group">
                    <label for="country">Выберите страну:</label>
                    <select class="form-select" id="country" name="country" aria-label="Default select example">
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="city">Выберите город:</label>
                    <select class="form-select" id="city" name="city" aria-label="Default select example">
                    </select>
                    </div>
                    <div class="form-group">
                    <label for="excurs-categories">Категории экскурсии:</label>
                    <select class="form-select" id="excurs-categories" name="category" aria-label="Default select example">
                    </select>
                    </div>
                    <button type="submit" id="search-button">Найти</button>
                </form>
            </div>
            <div class="result-container hidden" id="result-container"></div>
            <button type="button" id="expand-button" class="hidden">Еще</button>
        </section>

        <h2 class="hh">Связаться с нами</h2>
            <div class="container mt-5">
                <div class="form-container">
                    <form class="row g-3 needs-validation" method="post" action="{% url 'send_email' %}" novalidate>
                        {% csrf_token %}
                        <div class="col-md-12">
                            <label for="validationCustom01" class="form-label">Имя</label>
                            <input type="text" class="form-control" id="validationCustom01" name="name" required>
                            <div class="valid-feedback">
                                Все хорошо!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom02" class="form-label">Фамилия</label>
                            <input type="text" class="form-control" id="validationCustom02" name="surname" required>
                            <div class="valid-feedback">
                                Все хорошо!
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Имя пользователя</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                <input type="text" class="form-control" id="validationCustomUsername" name="username" aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Пожалуйста, выберите имя пользователя.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustom03" class="form-label">Город</label>
                            <input type="text" class="form-control" id="validationCustom03" name="city" required>
                            <div class="invalid-feedback">
                                Укажите действующий город.
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    Примите условия и соглашения
                                </label>
                                <div class="invalid-feedback">
                                    Вы должны принять перед отправкой.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Отправить форму</button>
                        </div>
                    </form>
                </div>
            </div>
        <section id="maps">
            <h2 class="hh">Карта</h2>
            <div id="map"></div>
        </section>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>

    </main>

    <footer>
        <p>&copy; 2024 Путеводитель и туристический портал</p>
        <button id="back-to-top" onclick="scrollToTop()">Вверх</button>
    </footer>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=76bbd2e7-2089-42df-937e-3ff6bf8b2c39&lang=ru_RU"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
